<%= form_with model: @task, local: true do |form| %>
  <h1><%= action_name == 'new' ? 'New Task' : 'Edit Task' %></h1>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div >
    <%= form.label :status %>
    <%= form.select :status, Task.statuses %>
  </div>
  <div>
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>